{{- define "immich.microservices.hardcodedValues" -}}
global:
  nameOverride: microservices

{{- if .Values.immich.configuration }}
defaultPodOptions:
  annotations:
    checksum/config: {{ .Values.immich.configuration | toYaml | sha256sum }}
{{- end }}

controllers:
  main:
    type: deployment
    strategy: RollingUpdate
    containers:
      main:
        env:
          IMMICH_WORKERS_INCLUDE: microservices
          {{ if .Values.immich.metrics.enabled }}
          IMMICH_TELEMETRY_INCLUDE: all
          {{ end }}
          {{- if .Values.immich.configuration }}
          IMMICH_CONFIG_FILE: /config/immich-config.yaml
          {{- end }}
        ports:
          {{- if .Values.immich.metrics.enabled }}
          - name: metrics-ms
            containerPort: 8082
            protocol: TCP
          {{- end }}
        probes:

service:
  main:
    enabled: {{ .Values.immich.metrics.enabled }}
    controller: main
    primary: true
    type: ClusterIP
    ports:
      metrics-ms:
        enabled: {{ .Values.immich.metrics.enabled }}
        port: 8082
        targetPort: metrics-ms
        protocol: HTTP


serviceMonitor:
  main:
    enabled: {{ .Values.immich.metrics.enabled }}
    endpoints:
      - port: metrics-ms
        scheme: http

persistence:
{{- if .Values.immich.configuration }}
  config:
    enabled: true
    {{- if eq .Values.immich.configurationKind "Secret" }}
    type: secret
    {{- else }}
    type: configMap
    {{- end }}
    name: {{ .Release.Name }}-immich-config
{{- end }}
  data:
    enabled: true
    existingClaim: {{ .Values.immich.persistence.library.existingClaim }}
{{- end }}

{{ if .Values.microservices.enabled }}
{{- $ctx := deepCopy . -}}
{{- $_ := get .Values "microservices" | mergeOverwrite $ctx.Values -}}
{{- $_ = include "immich.microservices.hardcodedValues" . | fromYaml | merge $ctx.Values -}}
{{- include "bjw-s.common.loader.all" $ctx }}
{{ end }}
