{{- define "immich.server.hardcodedValues" -}}
global:
  nameOverride: server

{{- if .Values.immich.configuration }}
defaultPodOptions:
  annotations:
    checksum/config: {{ .Values.immich.configuration | toYaml | sha256sum }}
{{- end }}

{{/* TODO: Render immich.server.api or immich.server.microservices based on values */}}

{{- include "immich.server.combined" (dict "root" . "name" "my-immich-instance") }}

persistence:
{{- if .Values.immich.configuration }}
  config:
    enabled: true
    {{- if eq .Values.immich.configurationKind "Secret" }}
    type: secret
    {{- else }}
    type: configMap
    {{- end }}
    name: {{ .Release.Name }}-immich-config
{{- end }}
  data:
    enabled: true
    existingClaim: {{ .Values.immich.persistence.library.existingClaim }}
{{- end }}

{{ if .Values.server.enabled }}
{{- $ctx := deepCopy . -}}
{{- $_ := get .Values "server" | mergeOverwrite $ctx.Values -}}
{{- $_ = include "immich.server.hardcodedValues" . | fromYaml | merge $ctx.Values -}}
{{- include "bjw-s.common.loader.all" $ctx }}
{{ end }}
